body {
  font-family: sans-serif;
  margin: auto;
  width: 50%
  max-width: 50%
}

#includedContent {
  margin: 10px
}

h2 {
    padding-top: 50px;
    margin-top: -50px;
}

a {
    text-decoration: none;
}