<style>
button.tocSwitch {
  position: absolute;
  top: 0;
  left: 0;
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function () {
  var target = document.querySelector('#header')
  var button = document.createElement('button')
  button.className = 'tocSwitch'
  button.innerHTML = '🐳'
  button.addEventListener('click', function (e) {
    e.stopPropagation()
    var toc = document.querySelector('#toc')
    var body = document.querySelector('body')
    if (body.classList.contains('toc2')) {
      body.classList.remove('toc2')
      body.classList.remove('toc-left')
      toc.style.display = 'none'
    }
    else {
      body.classList.add('toc2')
      body.classList.add('toc-left')
      toc.style.display = 'block'
    }
  })
  target.appendChild(button)
})
</script>
